*.class

# Package Files #
*.war
*.ear

/build/

.gradle/
.classpath
.project
.settings/
target/
local/

/*.ids
/*.ipr
/*.iws
*.iml
.DS_Store

.gradle/
/build/
/*/build/
/bin/
/*/bin/
.classpath
.project
.directory
.settings/
**/*/.idea
.directory
.DS_Store
kudos-ui/npm-debug.log
*.*~
